body {
  padding-top: 78px;
  background-color: #020916;
}

.carousel-item {
  transition: filter 0.2s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 600px; /* Fixed height */
  object-fit: cover; /* This will ensures that images cover the area without stretching */
}

.carousel-item:not(.active) {
  filter: blur(4px); /* Blur effect for non-active items */
}

.poster-carousel-row {
  display: flex;
  align-items: stretch; /* This ensures equal height of children */
}

.poster-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster-container img {
  max-height: 400px; /* It ensures image does not exceed the containers height */
  width: auto; /* This maintain the aspect ratio */
  max-width: 100%; /* This ensures image does not exceed its container's width */
}

/* Newest Movie Carousel */
.carousel-item .d-flex {
  justify-content: start;
  overflow-x: auto;
}

.carousel-item .card {
  margin-right: 10px;
}
